<div class="col-lg-3 col-md-4 col-6">
    <a href="#url">
        <div class="box16">
            <img class="img-fluid" src="~/Content/images/p1.jpg" alt="">
            <div class="box-content">
                <h3 class="title mb-1">Newyork</h3>
                <span class="post">4 listings</span>
            </div>
        </div>
    </a>
</div>
<div class="col-lg-3 col-md-4 col-6">
    <a href="#url">
        <div class="box16">
            <img class="img-fluid" src="~/Content/images/p2.jpg" alt="">
            <div class="box-content">
                <h3 class="title mb-1">California</h3>
                <span class="post">4 listings</span>

            </div>
        </div>
    </a>
</div>
<div class="col-lg-3 col-md-4 col-6 mt-md-0 pt-md-0 mt-sm-4 mt-3 pt-md-2">
    <a href="#url">
        <div class="box16">
            <img class="img-fluid" src="~/Content/images/p3.jpg" alt="">
            <div class="box-content">
                <h3 class="title mb-1">Las vegas</h3>
                <span class="post">4 listings</span>

            </div>
        </div>
    </a>
</div>
<div class="col-lg-3 col-md-4 col-6 mt-lg-0 pt-lg-0 mt-sm-4 mt-3 pt-md-2">
    <a href="#url">
        <div class="box16">
            <img class="img-fluid" src="~/Content/images/p4.jpg" alt="">
            <div class="box-content">
                <h3 class="title mb-1">Malaysia</h3>
                <span class="post">4 listings</span>

            </div>
        </div>
    </a>
</div>
<div class="col-lg-3 col-md-4 col-6 mt-sm-4 mt-3 pt-md-2">
    <a href="#url">
        <div class="box16">
            <img class="img-fluid" src="~/Content/images/p5.jpg" alt="">
            <div class="box-content">
                <h3 class="title mb-1">Paris</h3>
                <span class="post">4 listings</span>

            </div>
        </div>
    </a>
</div>
<div class="col-lg-3 col-md-4 col-6 mt-sm-4 mt-3 pt-md-2">
    <a href="#url">
        <div class="box16">
            <img class="img-fluid" src="~/Content/images/p6.jpg" alt="">
            <div class="box-content">
                <h3 class="title mb-1">New Jersy</h3>
                <span class="post">4 listings</span>
            </div>
        </div>
    </a>
</div>
<div class="col-lg-3 col-md-4 col-6 mt-sm-4 mt-3 pt-md-2">
    <a href="#url">
        <div class="box16">
            <img class="img-fluid" src="~/Content/images/p7.jpg" alt="">
            <div class="box-content">
                <h3 class="title mb-1">France</h3>
                <span class="post">4 listings</span>

            </div>
        </div>
    </a>
</div>
<div class="col-lg-3 col-md-4 col-6 mt-sm-4 mt-3 pt-md-2">
    <a href="#url">
        <div class="box16">
            <img class="img-fluid" src="~/Content/images/p8.jpg" alt="">
            <div class="box-content">
                <h3 class="title mb-1">Newyork</h3>
                <span class="post">4 listings</span>
            </div>
        </div>
    </a>
</div>

<div class="clearfix"></div>