
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign In</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Transparent Sign In Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
    <script type="application/x-javascript">
         addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
        function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Meta tag Keywords -->
    <!-- css files -->
    <link rel="stylesheet" href="~/Content/SigninContent/css/font-awesome.css"> <!-- Font-Awesome-Icons-CSS -->
    <link rel="stylesheet" href="~/Content/SigninContent/css/style.css" type="text/css" media="all" /> <!-- Style-CSS -->
    <!-- //css files -->
    <!-- web-fonts -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,500,600,700,800" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <!-- //web-fonts -->
</head>
<body>
    <!--header-->
    <div class="header-w3l">
        <div class="child-div">
            <a class="" href="@(ViewContext.RouteData.Values["action"].ToString() == "Signin" ? "/signup" : "/signin")">
                @(ViewContext.RouteData.Values["action"].ToString() == "Signin" ? "Sign Up" : "Sign In")
            </a>
            <a class="" href="home">Home</a>
        </div>
        <h1>ESTATE SALE</h1>
    </div>
    <!--//header-->

    <div class="body-content">
        @RenderBody()
    </div>

    <!-- js -->
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <script src="js/jquery.vide.min.js"></script>
    <!-- //js -->
</body>
</html>