
@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_SigninLayout.cshtml";
}

<main>
    <!--main-->
    <div class="main-content-agile">
        <div class="sub-main-w3">
            <h2>Sign Up</h2>
            <form action="#" method="post">
                <h6>Swiftly sign in with</h6>
                <div class="navbar-right social-icons">
                    <a href="#" class="one-w3ls"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a>
                    <a href="#" class="two-w3ls"><i class="fa fa-google-plus" aria-hidden="true"></i>Google+</a>
                    <div class="clear"></div>
                </div>
                <h6>Or use your email</h6>
                <div class="icon icon1">
                    <input placeholder="Email" name="mail" type="email" required="">
                </div>

                <div class="icon icon2">
                    <input placeholder="Password" name="Password" type="password" required="">
                </div>
                <div class="icon icon3">
                    <input placeholder="Password" name="Password" type="password" required="">
                </div>
                <div class="clear"></div>
                <input type="submit" value="Sign up">
            </form>
        </div>
    </div>
    <!--//main-->
</main>